<div class="center hero-unit">
  <h1>Welcome C2me Staff</h1>
  <p><%= link_to "Signup", new_user_registration_path  %> or <%= link_to "Sign in", new_user_session_path %></p>
</div>

<div class="btn-group ">
  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% if current_user.role?(:admin) %>
        <li><%= link_to "Manage Users", admin_users_path %> </li>
        <li><%= link_to "Manage Companies", admin_companies_path %></li>
        <li><%= link_to "Manage Vendors", admin_vendors_path %></li>
        <li><%= link_to "Manage Locations", locations_path %></li>
        <li><%= link_to "Manage Meal Types", meal_types_path %></li>
    <% end %>
    <li><%= link_to "Manage Items", items_path %></li>
    <li><%= link_to "Manage Meals", meals_path %></li>

  </ul>

</div>

You're <%= current_user.role?(:admin) ? "an admin" : "ops" %>!! Good for you!!

<br/>

<div id ="container"></div>
<div id="companies_container"></div>
<!--<div style="<%#= 'display:none;' if current_user.role?(:admin) %>">-->
  <!--<%#= text_field_tag "auto_complete", "", :style => "width:150px" %>-->

  <!--<%#= javascript_tag "var autocomplete_items = #{ @autocomplete_items.collect {|a| a.company_name} };" %>-->
  <!--<%#= button_tag "x", :id => "remove_company" %>-->

  <!--<%#= text_field_tag "datepicker", "", :style => "display:none;width:150px" %>-->
  <!--<%#= button_tag "x", :id => "remove_datepicker", :style => "display:none" %>-->

  <!--<%#= select_tag "meal_type", options_from_collection_for_select(@meal_types, "id", "meal_type"), :style => "display:none;width:150px"%>-->
  <!--<%#= button_tag "x", :id => "remove_meal_type", :style => "display:none" %>-->

  <!--<%#= select_tag "vendor", options_from_collection_for_select(@vendors, "id", "name"), :style => "display:none;width:150px"%>-->
  <!--<%#= button_tag "x", :id => "remove_vendor", :style => "display:none" %>-->
<!--</div>-->
