<div class="center hero-unit">
  <h1>Welcome C2me Staff</h1>
  <p><%= link_to "Signup", new_user_registration_path  %> or <%= link_to "Sign in", new_user_session_path %></p>
</div>

<div class="btn-group ">
  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% if current_user.role?(:admin) %>
        <li><%= link_to "Manage Users", admin_users_path %> </li>
        <li><%= link_to "Manage Clients", admin_companies_path %></li>
        <li><%= link_to "Manage Vendors", admin_vendors_path %></li>
        <li><%= link_to "Manage Locations", locations_path %></li>
    <% end %>
    <li><%= link_to "Manage Items", items_path %></li>
    <li><%= link_to "Manage Meals", meals_path %></li>
    <li><%= link_to "Manage Allergens", allergens_path %></li>
  </ul>

</div>

You're <%= current_user.role?(:admin) ? "an admin" : "ops" %>!! Good for you!!