<div class="center hero-unit">
    <h1>Welcome Folks</h1>
    <p><%= link_to "Signup", new_user_registration_path  %> or <%= link_to "Sign in", new_user_session_path %></p>
</div>

<% if user_signed_in? %>
    <div class="btn-group ">
      <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
        Action
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if current_user.role?('admin') %>
          <li><%= link_to "Manage Users", admin_users_path %> </li>
          <li><%= link_to "Manage Clients", admin_companies_path %></li>
          <li><%= link_to "Manage Vendors", admin_vendors_path %></li>
        <% elsif current_user.is_client  %>
            <li>Manage Employees</li>
            <li>View Order Status</li>
        <% elsif current_user.is_vendor %>
            <li>Manage Carriers</li>
            <li>Manage Orders</li>
        <% end %>
      </ul>
    </div>

    <% if current_user.role?('admin') %>
        You're an admin! You can do all of the things!!
    <% elsif current_user.is_client  %>
        You're a client! You can look at all of your client things!!
    <% elsif current_user.is_vendor %>
        You're a vendor! You can look at all of your vendor things!!
    <% end %>
<% end %>