<%= form_for(@company, :url => admin_companies_path) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :company_name, "Company Name", class: "span2" %>
    <%= f.text_field :company_name, class: "span3" %>
  </div>
  <div class="row">
    <%= f.label :Nb_employee, "Number of Employees", class: "span2" %>
    <%= f.text_field :nb_employee, class: "span3" %>
  </div>
  <div class="row">
    <%= f.label :website, class: "span2" %>
    <%= f.text_field :website, class: "span3" %>
  </div>
  <div class="row">
    <%= f.label :phone, class: "span2" %>
    <%= f.text_field :phone, class: "span3" %>
  </div>

  <h2>Add a Primary Location</h2>

  <%= f.fields_for :locations do |loc| %>
    <div class="row">
      <%= loc.label :location_name, "Location Name", class: "span2" %>
      <%= loc.text_field :name, class: "span3" %>
    </div>
    <div class="row">
      <%= loc.label :address1, "Street Address", class: "span2" %>
      <%= loc.text_field :address1, class: "span3" %>
    </div>
    <div class="row">
      <%= loc.label :address2, "Address 2", class: "span2" %>
      <%= loc.text_field :address2, class: "span3" %>
    </div>
    <div class="row">
      <%= loc.label :floor, class: "span2" %>
      <%= loc.text_field :floor, class: "span1" %>
    </div>
    <div class="row">
      <%=	loc.label :city, class: "span2" %>
      <%= collection_select :city, :city_id, City.all, :id, :name  %>
    </div>
  <% end %>

  <h2>Company Profile Info</h2>

  <% if @company_profile_keys %>
      <% @company_profile_keys.each do |key| %>
          <div class="row" id="company_<%= key.key %>">
            <% values = @company_profile.where(key: key.key) %>
            <% i = 0 %>
            <% values.each do |value| %>
                <input type="text" id="company_<%= key.key %>_<%= i %>" name="company[<%= key.key %>][<%= i %>]" size="30" value="<%= value.value && value.key == key.key ? value.value : '' %>"/>
                <input type="button" value="Remove <%= key.key.humanize.singularize %>" id="remove_<%= key.key %>_<%= i %>" />
                <% i += 1 %>
            <% end %>
            <input type="button" value="Add Another <%= key.key.humanize.singularize %>" class="add_<%= key.key %>_field"/>
          </div>
      <% end %>
  <% else %>
      <% CompanyProfile::KEYS.each do |key| %>
          <div class="row" id="company_<%= key.to_s %>">
            <% i = 0 %>
            <%= key.to_s.humanize.singularize %>
            <input type="text" id="company_<%= key.to_s %>_<%= i %>" name="company[<%= key.to_s %>][<%= i %>]" size="30" value=""/>
            <input type="button" value="Remove" id="remove_<%= key.to_s %>_<%= i %>" />
            <% i += 1 %>
            <input type="button" value="Add Another <%= key.to_s.humanize.singularize %>" class="add_<%= key %>_field"/>
          </div>
      <% end %>
  <% end %>

  <br/>

  <div class="actions">
    <%= f.submit "Create Company", class: "btn btn-primary"%>
  </div>

<% end %>
