<h1>Editing company</h1>

<%= form_for(@company, :url => admin_company_path(@company)) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Company_name %>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :Nb_employee %>
    <%= f.number_field :nb_employee %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <h2>Add a primary location</h2>
  <% i = 1  %>
  <%= f.fields_for :locations do |loc| %>
    <h3>Location <%= i %></h3>
    <div class="field">
      <%= loc.label :location_name %>
      <%= loc.text_field :name %>
    </div>
    <div class="field">
      <%= loc.label :address1 %>
      <%= loc.text_field :address1 %>
    </div>
    <div class="field">
      <%= loc.label :address2 %>
      <%= loc.text_field :address2 %>
    </div>
    <div class="field">
      <%= loc.label :floor %>
      <%= loc.number_field :floor %>
    </div>
    <div>
      <%=	loc.label :city %>
      <%= collection_select :city, :city_id, City.all, :id, :name  %>
    </div>
    <% i += 1 %>
  <% end %>
  <h2>Company profile info</h2>
        <% @company_profile_keys.each do |key| %>
            <div class="field" id="company_<%= key.key %>">
              <% values = @company_profile.where(key: key.key) %>
              <% i = 0 %>
              <% values.each do |value| %>
                <input type="text" id="company_<%= key.key %>_<%= i %>" name="company[<%= key.key %>][<%= i %>]" size="30" value="<%= value.value && value.key == key.key ? value.value : '' %>"/>
                <input type="button" value="Remove <%= key.key.humanize.singularize %>" id="remove_<%= key.key %>_<%= i %>" onclick="$('#company_<%= key.key %>_<%= i %>').hide().val('');$('#remove_<%= key.key %>_<%= i %>').hide();" />
                <% i += 1 %>
              <% end %>
              <input type="button" value="Add Another <%= key.key.humanize.singularize %>" class="add_<%= key.key %>_field"/>
            </div>
        <% end %>
<br/>
  <div class="actions">
    <%= f.submit "Save Company", class: "btn btn-primary"%>
  </div>
<% end %>


<%= link_to 'Show', admin_company_path(@company), :class => 'btn' %> |
<%= link_to 'Back', admin_companies_path, :class => 'btn' %>

