<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>NB employee:</b>
  <%= @company.nb_employee %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Locations:</b>
  <%= collection_select @company, :location , @company.locations, :id, :name %>
</p>

<p>
<% @company_profile_keys.each do |k| %>
    <b><%= k.key %></b>
    <% @company_profile.each do |profile| %>
        <%= profile.value if profile.key == k.key  %>
    <% end %>

<% end %>
</p>

<%= link_to 'Edit', edit_admin_company_path(@company), :class => "btn"  %> |
<%= link_to 'Back', admin_companies_path, :class => "btn" %>
