<h1>Listing client_profiles</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th>Value2</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @client_profiles.each do |client_profile| %>
  <tr>
    <td><%= client_profile.key %></td>
    <td><%= client_profile.value %></td>
    <td><%= client_profile.value2 %></td>
    <td><%= client_profile.user_id %></td>
    <td><%= link_to 'Show', client_profile %></td>
    <td><%= link_to 'Edit', edit_client_profile_path(client_profile) %></td>
    <td><%= link_to 'Destroy', client_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client profile', new_client_profile_path %>
