<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @client_profile.key %>
</p>

<p>
  <b>Value:</b>
  <%= @client_profile.value %>
</p>

<p>
  <b>Value2:</b>
  <%= @client_profile.value2 %>
</p>

<p>
  <b>User:</b>
  <%= @client_profile.user_id %>
</p>


<%= link_to 'Edit', edit_client_profile_path(@client_profile) %> |
<%= link_to 'Back', client_profiles_path %>
