<div class="row-fluid">

  <div class="span6">
    <h1 xmlns="http://www.w3.org/1999/html">Edit User</h1>
  </div>

  <div class="span2 offset2">
    <form class="form-search">
      <div class="input-append">
        <input type="text" class="span12 search-query" placeholder="Type a company name, restaurant...">
        <button type="submit" class="btn">Search</button>
      </div>
    </form>
  </div>

</div>


<div id="users">
  <%= form_for(@user, :url => user_path(@user), :html => { :method => :put }) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this client_profile from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row">
        <%= f.label :email, class: "span2" %>
        <%= f.email_field :email, tabindex: 1, class: "span2" %>
      </div>

      <div class="row">
        <%= f.label :First_name, class: "span2" %>
        <%= f.text_field :first_name, tabindex: 2, class: "span2" %>
      </div>

      <div class="row">
        <%= f.label :Last_name, class: "span2" %>
        <%= f.text_field :last_name, tabindex: 3, class: "span2" %>
      </div>

      <div class="row">
        <%= f.label :role_id, class: "span2" %>
        <%= f.select(:role_ids, options_for_select(@roles, @user.roles.last.id))  %>
      </div>

	    <div class="row">
	      <%= f.label :company_id, "Company", class: "span2" %>
	      <%= f.select :company_id, options_for_select(@companies, @user.company_id), {}, prompt: "Select Company..", disabled: true %>
	    </div>

	    <div class="row">
	      <%= f.label :vendor_id, "Vendor", class: "span2" %>
	      <%= f.select :vendor_id, options_for_select(@vendors, @user.vendor_id), {}, prompt: "Select Vendor..", :disabled => true %>
	    </div>

      <br/>

      <div class="actions">
        <%= link_to 'Back', users_path, tabindex: 5, :class => "btn" %>
        <%= f.submit 'Edit User', tabindex: 4, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>


<script type="text/javascript">
	$(document).ready(function(){

		$("#user_role_ids").click(function(){
			if(this.value == 4 || this.value == 5) {
				$("#user_company_id").removeAttr('disabled');
				$("#user_vendor_id").attr("disabled", "disabled");
				$("#user_vendor_id").val('');
			} else if(this.value == 6 || this.value == 7) {
				$("#user_company_id").attr("disabled", "disabled");
				$("#user_company_id").val("");
				$("#user_vendor_id").removeAttr('disabled');
			} else {
				$("#user_vendor_id").attr("disabled", "disabled");
				$("#user_vendor_id").val('');
				$("#user_company_id").attr("disabled", "disabled");
				$("#user_company_id").val("");
			}
		});

		$("#user_role_ids").keypress(function(event){
			if (event.which == 13) {
				event.preventDefault();
				if(this.value == 4 || this.value == 5) {
					$("#user_company_id").removeAttr('disabled');
					$("#user_vendor_id").attr("disabled", "disabled");
					$("#user_vendor_id").val('');
				} else if(this.value == 6 || this.value == 7) {
					$("#user_company_id").attr("disabled", "disabled");
					$("#user_company_id").val("");
					$("#user_vendor_id").removeAttr('disabled');
				} else {
					$("#user_vendor_id").attr("disabled", "disabled");
					$("#user_vendor_id").val('');
					$("#user_company_id").attr("disabled", "disabled");
					$("#user_company_id").val("");
				}
			}
		});
	});
</script>