<h1>Listing Ingredients</h1>
<h2>for <%= @item.name %></h2>

<% unless @ingredients.nil? %>
<table>
  <tr>
    <th>Ingredient</th>
    <th>Description</th>
  </tr>

<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= ingredient.description %></td>
	  <td><%= link_to 'Add Allergens', ingredient_allergens_path(ingredient) %></td>
    <td><%= link_to 'Show', item_ingredient_path(@item, ingredient) %></td>
    <td><%= link_to 'Edit', edit_item_ingredient_path(@item, ingredient) %></td>
    <td><%= link_to 'Destroy', item_remove_ingredient_path(@item.id, ingredient), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'New Ingredient', new_item_ingredient_path %> | <%= link_to 'Back', items_path %>
<div id="ingredients"></div>
