<h1>Contacts</h1>

<form id="new_contact">
	<div class="row">
		<label for="contact_title" class="span2">Title</label>
	  <%= select_tag "contact[title]","<option value='Mr.'>Mr.</option><option value='Mrs.'>Mrs.</option><option value='Ms.'>Ms.</option>".html_safe, class: "span2" %>
	</div>
  <div class="row">
	  <label for="contact_first_name" class="span2">First Name</label>
    <%= text_field_tag "contact[first_name]", "", class: "span2" %>
  </div>
  <div class="row">
	  <label for="contact_last_name" class="span2">Last Name</label>
    <%= text_field_tag "contact[last_name]", "", class: "span2" %>
  </div>
  <div class="row">
    <label for="contact_email" class="span2">Email</label>
    <%= email_field_tag "contact[email]", "", class: "span2" %>
  </div>
  <div class="row">
    <label for="contact_direct_phone" class="span2">Direct Phone</label>
    <%= phone_field_tag "contact[direct_phone]", "", class: "span2" %>
  </div>
  <div class="row">
    <label for="contact_mobile_phone" class="span2">Mobile Phone</label>
    <%= phone_field_tag "contact[mobile_phone]", "", class: "span2" %>
  </div>
  <div class="row">
    <label for="contact_carrier" class="span2">Carrier</label>
    <%= text_field_tag "contact[carrier]", "", class: "span2" %>
  </div>
  <div class="row">
    <label for="contact_default_contact" class="span2">Default Contact?</label>
    Yes <%= radio_button_tag "contact[default_contact]", "Yes" %>
    No <%= radio_button_tag "contact[default_contact]", "No", "No" %>
  </div>
  <div class="row">
    <label for="contact_default_invoiced" class="span2">Default Invoiced?</label>
    Yes <%= radio_button_tag "contact[default_invoiced]", "Yes" %>
    No <%= radio_button_tag "contact[default_invoiced]", "No" %>
  </div>
	<div class="row">
	  <label for="contact_was_lead" class="span2">Was Lead?</label>
	  Yes <%= radio_button_tag "contact[was_lead]", "Yes" %>
	  No <%= radio_button_tag "contact[was_lead]", "No" %>
	</div>
	<div class="row">
		<label for="contact_payment_type_id" class="span2">Payment Type</label>
		<%= select_tag "contact[payment_type_id]", options_from_collection_for_select(PaymentType.all, "id", "name"), class: "span2" %>
	</div>
  <div class="row">
    <label for="contact_company_id" class="span2">Company</label>
    <%= select_tag "contact[company_id]", options_from_collection_for_select(Company.all, "id", "company_name"), :prompt => "Select..", class: "span2" %>
  </div>
  <div class="row">
    <label for="contact_vendor_id" class="span2">Vendor</label>
    <%= select_tag "contact[vendor_id]", options_from_collection_for_select(Vendor.all, "id", "name"), :prompt => "Select..", class: "span2" %>
  </div>
  <div class="row">
    <label for="contact_location_id" class="span2">Location</label>
    <%= select_tag "contact[location_id]", options_from_collection_for_select(Location.all, "id", "name"), :prompt => "Select..", class: "span2" %>
  </div>
</form>

<div id="contacts_container" class="table table-condensed"></div>

