<h1>Contacts</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Direct Phone</th>
    <th>Mobile Phone</th>
    <th>Location</th>
    <th><%= params.include?(:company_id) ? "Company" : "Vendor" %></th>
  </tr>
  <% unless @contacts.empty? %>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.title %> <%= contact.first_name %> <%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.direct_phone %></td>
        <td><%= contact.mobile_phone %></td>
        <td><%= contact.location.name %></td>
        <td><%= params.include?(:company_id) ? contact.company.name : contact.vendor.name %></td>
        <td><%= link_to 'Edit', params.include?(:company_id) ? edit_company_contact_path(@company, contact.id) : edit_vendor_contact_path(@vendor, contact.id) %></td>
        <td><%= link_to 'Destroy', params.include?(:company_id) ? company_contact_path(@company, contact.id) : vendor_contact_path(@vendor, contact.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  <% else %>
    <tr>
      <td colspan="6" style="text-align: center;">
        <%= link_to "Start Making Contacts!", params.include?(:company_id) ? new_company_contact_path(@company) : new_vendor_contact_path(@vendor) %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Back', params.include?(:company_id) ? companies_path : vendors_path, class: 'btn' %>
<%= link_to 'New Contact', params.include?(:company_id) ? new_company_contact_path(@company) : new_vendor_contact_path(@vendor), class: 'btn btn-primary' %>



<!--<form id="new_contact">-->
	<!--<div class="row">-->
		<!--<label for="contact_title" class="span2">Title</label>-->
	  <!--<%#= select_tag "contact[title]","<option value='Mr.'>Mr.</option><option value='Mrs.'>Mrs.</option><option value='Ms.'>Ms.</option>".html_safe, class: "span2" %>-->
	<!--</div>-->
  <!--<div class="row">-->
	  <!--<label for="contact_first_name" class="span2">First Name</label>-->
    <!--<%#= text_field_tag "contact[first_name]", "", class: "span2" %>-->
  <!--</div>-->
  <!--<div class="row">-->
	  <!--<label for="contact_last_name" class="span2">Last Name</label>-->
    <!--<%#= text_field_tag "contact[last_name]", "", class: "span2" %>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_email" class="span2">Email</label>-->
    <!--<%#= email_field_tag "contact[email]", "", class: "span2" %>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_direct_phone" class="span2">Direct Phone</label>-->
    <!--<%#= phone_field_tag "contact[direct_phone]", "", class: "span2" %>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_mobile_phone" class="span2">Mobile Phone</label>-->
    <!--<%#= phone_field_tag "contact[mobile_phone]", "", class: "span2" %>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_carrier" class="span2">Carrier</label>-->
    <!--<%#= text_field_tag "contact[carrier]", "", class: "span2" %>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_default_contact" class="span2">Default Contact?</label>-->
   <%#= radio_button_tag "contact[default_contact]", "Yes" %>
   <%#= radio_button_tag "contact[default_contact]", "No", "No" %>
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_default_invoiced" class="span2">Default Invoiced?</label>-->
    <%#= radio_button_tag "contact[default_invoiced]", "Yes" %>
    <%#= radio_button_tag "contact[default_invoiced]", "No" %>
  <!--</div>-->
	<!--<div class="row">-->
	  <!--<label for="contact_was_lead" class="span2">Was Lead?</label>-->
	  <%#= radio_button_tag "contact[was_lead]", "Yes" %>
	  <%#= radio_button_tag "contact[was_lead]", "No" %>
	<!--</div>-->
	<!--<div class="row">-->
		<!--<label for="contact_payment_type_id" class="span2">Payment Type</label>-->
		<!--<%#= select_tag "contact[payment_type_id]", options_from_collection_for_select(PaymentType.all, "id", "name"), class: "span2" %>-->
	<!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_company_id" class="span2">Company</label>-->
    <!--<%#= select_tag "contact[company_id]", options_from_collection_for_select(Company.all, "id", "name"), :prompt => "Select..", class: "span2" %>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_vendor_id" class="span2">Vendor</label>-->
    <!--<%#= select_tag "contact[vendor_id]", options_from_collection_for_select(Vendor.all, "id", "name"), :prompt => "Select..", class: "span2" %>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<label for="contact_location_id" class="span2">Location</label>-->
    <!--<%#= select_tag "contact[location_id]", options_from_collection_for_select(Location.all, "id", "name"), :prompt => "Select..", class: "span2" %>-->
  <!--</div>-->
<!--</form>-->

<!--<div id="contacts_container" class="table table-condensed"></div>-->

