
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :name, "Company Name", class: "span2" %>
    <%= f.text_field :name, class: "span3" %>
  </div>
  <div class="row">
    <%= f.label :Nb_employee, "Number of Employees", class: "span2" %>
    <%= f.text_field :nb_employee, class: "span1" %>
  </div>
  <div class="row">
    <%= f.label :website, class: "span2" %>
    <%= f.text_field :website, class: "span3" %>
  </div>
  <div class="row">
    <%= f.label :phone, class: "span2" %>
    <%= f.text_field :phone, class: "span2" %>
  </div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
			  <h2>Add a Primary Location</h2>
			  <%= f.fields_for :locations do |loc| %>
			    <div class="row-fluid">
			      <%= loc.label :location_name, "Location Name", class: "span3" %>
			      <%= loc.text_field :name, class: "span6" %>
			    </div>
			    <div class="row-fluid">
			      <%= loc.label :address1, "Street Address", class: "span3" %>
			      <%= loc.text_field :address1, class: "span6" %>
			    </div>
			    <div class="row-fluid">
			      <%= loc.label :address2, "Address 2", class: "span3" %>
			      <%= loc.text_field :address2, class: "span6" %>
			    </div>
					<div class="row-fluid">
						<%= loc.label :cross_streets, class: "span3" %>
						<%= loc.text_field :cross_streets, class: "span6" %>
					</div>
			    <div class="row-fluid">
			      <%= loc.label :floor, class: "span3" %>
			      <%= loc.text_field :floor, class: "span2" %>
			    </div>
			    <div class="row-fluid">
			      <%=	loc.label :city_id, "City", class: "span3" %>
			      <%= loc.select :city_id, options_from_collection_for_select(City.all, :id, :name) %>
			    </div>
			    <div class="row-fluid">
			      <%=	loc.label :state, class: "span3" %>
			      <%= loc.select :state, options_for_select([["CA", "CA"],["NY","NY"]]), :class => "span1" %>
			    </div>
			    <div class="row-fluid">
			      <%=	loc.label :zip, class: "span3" %>
			      <%= loc.text_field :zip, class: "span3" %>
			    </div>
			  <% end %>
			</div>

			<div class="span6">
				<h2>Add a Primary Contact</h2>
			  <%= f.fields_for :contacts do |con| %>
					<div class="row-fluid">
						<%= con.label :title, class: "span3" %>
						<%= con.select :title, options_for_select(Contact.title_options) %>
					</div>
			    <div class="row-fluid">
			      <%= con.label :first_name, class: "span3" %>
			      <%= con.text_field :first_name, class: "span6" %>
			    </div>
			    <div class="row-fluid">
			      <%= con.label :last_name, class: "span3" %>
			      <%= con.text_field :last_name, class: "span6" %>
			    </div>
			    <div class="row-fluid">
			      <%= con.label :email, class: "span3" %>
			      <%= con.email_field :email, class: "span6" %>
			    </div>
			    <div class="row-fluid">
			      <%= con.label :work_email, class: "span3" %>
			      <%= con.email_field :work_email, class: "span6" %>
			    </div>
			    <div class="row-fluid">
			      <%=	con.label :direct_phone, class: "span3" %>
			      <%= con.text_field :direct_phone, class: "span4" %>
			    </div>
			    <div class="row-fluid">
			      <%=	con.label :mobile_phone, class: "span3" %>
			      <%= con.text_field :mobile_phone, class: "span4" %>
			    </div>
			    <div class="row-fluid">
			      <%=	con.label :carrier, class: "span3" %>
			      <%= con.select :carrier, options_for_select(Contact.carrier_options) %>
			    </div>
					<div class="row-fluid">
						<%= con.label :fax, class: "span3" %>
						<%= con.text_field :fax, class: "span4" %>
					</div>
					<div class="row-fluid">
						<%= con.label :payment_type_id, "Payment Type", class: "span3" %>
						<%= con.select :payment_type_id, options_from_collection_for_select(PaymentType.all, :id, :name) %>
					</div>
					<div class="row-fluid">
						<%= con.label :was_lead, class: "span3" %>
						<%= con.check_box :was_lead %>
					</div>
					<%= con.hidden_field :default_contact, value: true %>
					<%= con.hidden_field :default_invoiced, value: true %>
				<% end %>
			</div>
		</div>
	</div>



  <br/>

  <div class="actions">
    <%= link_to 'Back', companies_path, :class => "btn" %>
    <%= f.submit class: "btn btn-primary"%>
  </div>



<script type="text/javascript">
	$("#company_contacts_attributes_0_direct_phone").mask("(999) 999-9999",{placeholder:" "});
	$("#company_contacts_attributes_0_mobile_phone").mask("(999) 999-9999",{placeholder:" "});
	$("#company_contacts_attributes_0_fax").mask("(999) 999-9999",{placeholder:" "});
	$("#company_phone").mask("(999) 999-9999",{placeholder:" "});
	$("#company_locations_attributes_0_zip").mask("99999?-9999",{placeholder:" "});
	$("#company_nb_employee").mask("9?99",{placeholder:" "});
	$("#company_locations_attributes_0_floor").mask("9?99",{placeholder:" "});
</script>
