<h1>Stuff about <%= @company.name %></h1>

<div class="container offset1">
	<div class="row">
		<b>Company Name: </b>
		<%= @company.name %>
	</div>
	<div class="row">
	  <b>Number of Employees: </b>
	  <%= @company.nb_employee %>
	</div>
	<div class="row">
	  <b>Website: </b>
	  <%= @company.website %>
	</div>
	<div class="row">
	  <b>Phone: </b>
	  <%= @company.phone %>
	</div>
</div>
<br/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h2>Primary Location</h2>
      <div class="row-fluid">
        <b>Location Name: </b>
        <%= @location.name %>
      </div>
      <div class="row-fluid">
        <b>Street Address: </b>
        <%= @location.address1 %>
      </div>
      <div class="row-fluid">
        <b>Address 2: </b>
        <%= @location.address2 %>
      </div>
      <div class="row-fluid">
        <b>Cross Streets: </b>
        <%= @location.cross_streets %>
      </div>
      <div class="row-fluid">
        <b>Floor: </b>
        <%= @location.floor %>
      </div>
      <div class="row-fluid">
        <b>City: </b>
        <%= @location.city.name %>
      </div>
      <div class="row-fluid">
        <b>State: </b>
	      <%= @location.state %>
      </div>
      <div class="row-fluid">
        <b>Zip: </b>
        <%= @location.zip %>
      </div>
    </div>

    <div class="span6">
      <h2>Primary Contact</h2>
      <div class="row-fluid">
        <b>Title: </b>
	      <%= @contact.title %>
      </div>
      <div class="row-fluid">
        <b>First Name: </b>
	      <%= @contact.first_name %>
      </div>
      <div class="row-fluid">
        <b>Last Name: </b>
        <%= @contact.last_name %>
      </div>
      <div class="row-fluid">
        <b>Email: </b>
	      <%= @contact.email %>
      </div>
      <div class="row-fluid">
        <b>Work Email: </b>
	      <%= @contact.work_email %>
      </div>
      <div class="row-fluid">
        <b>Direct Phone: </b>
	      <%= @contact.direct_phone %>
      </div>
      <div class="row-fluid">
        <b>Mobile Phone: </b>
	      <%= @contact.mobile_phone %>
      </div>
      <div class="row-fluid">
        <b>Carrier: </b>
	      <%= @contact.carrier %>
      </div>
      <div class="row-fluid">
        <b>Fax: </b>
	      <%= @contact.fax %>
      </div>
      <div class="row-fluid">
        <b>Payment Type: </b>
	      <%= @contact.payment_type.name if @contact.payment_type %>
      </div>
      <div class="row-fluid">
        <b>Was Lead? </b>
        <%= @contact.was_lead ? "yes" : "no" %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_company_path(@company), :class => "btn"  %> |
<%= link_to 'Back', companies_path, :class => "btn" %>
