<%= form_for(@meal) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :name, class: "span2" %>
    <%= f.text_field :name, class: "span2" %>
  </div>

  <div class="row">
    <%= f.label :headcount, class: "span2" %>
    <%= f.text_field :headcount, class: "span1" %>
  </div>

  <div class="row">
    <%= f.label :max_price, class: "span2" %>
    <div class="input-prepend">
      <span class="add-on">$</span>
      <%= f.text_field :max_price, class: "span1" %>
    </div>
  </div>

  <div class="row">
    <%= f.label :serving_time, class: "span2" %>
    <%= f.text_field :serving_time, class: "span1" %>
  </div>

  <div class="row">
    <%= f.label :company_id, class: "span2" %>
    <%= f.collection_select :company_id, Company.all, :id, :company_name %>
  </div>

  <div class="row">
    <%= f.label :location_id, class: "span2" %>
    <%= f.collection_select :location_id, Location.all, :id, :name %>
  </div>

  <div class="row">
    <%= f.label :meal_type_id, class: "span2" %>
    <%= f.collection_select :meal_type_id, MealType.all, :id, :meal_type %>
  </div>

  <div class="row">
    <label for="meal_allergen_ids" class="span2">Allergens</label>
    <select id="meal_allergen_ids" name="meal[allergen_ids][]" multiple="multiple">
      <% @allergens.each do |a| %>
        <option value="<%= a.id %>"><%= a.name %></option>
      <% end %>
    </select>
  </div>


  <%= f.hidden_field :company_profile_id, :value => 2 %>

  <h2>Meal Profile Info</h2>

  <% unless @meal_profile_keys.empty? %>
		<% @meal_profile_keys.each do |key| %>
			<div class="field" id="meal_<%= key.key %>">
			  <% values = @meal_profile.where(key: key.key) %>
				<% if MealProfile::TEXT_TYPE.include?(key.key) %>
			    <%= key.to_s.humanize.singularize %>
					<input type="text" name="mean[<%= key.key %>]" value="<%= value.value && value.key == key.key ? value.value : '' %>">
			  <% elsif MealProfile::BOOL_TYPE.include?(key.key) %>
					<%= key.to_s.humanize.singularize %>
					<input type="radio" name="meal[<%= key.key %>]" value="<%= value.value && value.key == key.key ? value.value : 'true' %>" >
					<input type="radio" name="meal[<%= key.key %>]" value="<%= value.value && value.key == key.key ? value.value : 'false' %>">
				<% elsif MealProfile::INTEGER_TYPE.include?(key.key) %>
			    <%= key.to_s.humanize %>
			    <input type="text" name="meal[<%= key.key %>]" value="<%= value.value && value.key == key.key ? value.value : '' %>" width="30px">
				<% elsif MealProfile::SELECT_TYPE.include?(key.key) %>
					<% table = key.split('_')[0].to_s.capitalize %>
					<% table_array = table.all %>
					<select>
						<% table_array.each do |t| %>
							<option name="meal[<%= key.key %>]" value="<%= t.id %>"><%= t.name %></option>
						<% end %>
					</select>
			  <% end %>
			</div>
		<% end %>
	<% else %>
    <% MealProfile::KEYS.each do |key| %>
      <div class="field" id="meal_<%= key.to_s %>">
        <% if MealProfile::TEXT_TYPE.include?(key) %>
          <%= key.to_s.humanize.singularize %>
          <input type="text" name="meal[<%= key %>]" value="">
        <% elsif MealProfile::BOOL_TYPE.include?(key) %>
          <%= key.to_s.humanize.singularize %>
          <input type="radio" name="meal[<%= key %>]" value="true">
          <input type="radio" name="meal[<%= key %>]" value="false">
        <% elsif MealProfile::INTEGER_TYPE.include?(key) %>
          <%= key.to_s.humanize %>
          <input type="text" name="meal[<%= key %>]" value="" style="width:30px">
        <% elsif MealProfile::SELECT_TYPE.include?(key) %>
          <% table = key.to_s.split('_')[0].capitalize.constantize %>
          <% table_array = table.all %>
		      <%= key.to_s.humanize.singularize %>
          <select>
            <% table_array.each do |t| %>
              <option name="meal[<%= key %>]" value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          </select>
        <% end %>
      </div>
    <% end %>
	<% end %>


  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
