<h1>Editing meal</h1>
<%= form_for(@meal, :url => contact_meal_path(@contact, @meal), method: :put) do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
        <% @meal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :company_id, class: "span2" %>
    <%= @contact.company.name %>
  </div>

  <div class="row">
    <%= f.label :location_id, class: "span2" %>
    <%= @contact.location.name %>
  </div>

  <div class="row">
    <%= f.label :name, class: "span2" %>
    <%= f.text_field :name, class: "span3" %>
  </div>

  <div class="row">
    <%= f.label :headcount, class: "span2" %>
    <%= f.text_field :headcount, class: "span1" %>
  </div>

  <div class="row">
    <%= f.label :max_price, class: "span2" %>
	  <div class="input-prepend">
	    <span class="add-on">$</span>
	    <%= f.text_field :max_price, class: "span1" %>
	  </div>
  </div>

  <div class="row">
    <%= f.label :serving_time, class: "span2" %>
    <%= f.text_field :serving_time, class: "span1" %>
  </div>

  <div class="row">
    <%= f.label :meal_type_id, class: "span2" %>
    <%= f.collection_select :meal_type_id, MealType.all, :id, :name %>
  </div>

	<div class="row">
		<label for="meal_allergen_ids" class="span2">Allergens</label>
		<select id="meal_allergen_ids" name="meal[allergen_ids][]" multiple="multiple">
			<% @allergens.each do |a| %>
				<option value="<%= a.id %>" <%= "selected" if @allergens_for_meal.include?(a.id) %>><%= a.name %></option>
			<% end %>
		</select>
	</div>

  <%= f.hidden_field :company_profile_id, :value => 2 %>

	<br />
	<br />

	<h2>Meal Profile Info</h2>
  <% if @meal_profile_keys %>
    <% @meal_profile_keys.each do |key| %>
			<% unless key == "name" %>
	      <div class="row" id="meal_<%= key.key %>">
	        <% if MealProfile::TEXT_TYPE.include?(key.key.to_sym) %>
	          <label for="meal_[<%= key.key %>]" class="span2"><%= key.key.humanize.singularize %></label>
	          <input type="text" name="meal[<%= key.key %>]" value="<%= key.value if key.value %>" class="span2">
	        <% elsif MealProfile::BOOL_TYPE.include?(key.key.to_sym) %>
	          <label for="meal_[<%= key.key %>]" class="span2"><%= key.key.humanize %></label>
	          <input type="radio" name="meal[<%= key.key %>]" value="true" <%= key.value == "true" ? "checked" : "" %> />
	          <input type="radio" name="meal[<%= key.key %>]" value="false" <%= key.value == "false" ? "checked" : "" %> />
	        <% elsif MealProfile::INTEGER_TYPE.include?(key.key.to_sym) %>
	          <label for="meal_[<%= key.key %>]" class="span2"><%= key.key.humanize %></label>
	          <input type="text" name="meal[<%= key.key %>]" value="<%= key.value if key.value %>"  class="span1">
	        <% elsif MealProfile::SELECT_TYPE.include?(key.key.to_sym) %>
	          <label for="meal_[<%= key.key %>]" class="span2"><%= key.key.humanize %></label>
	          <% table = key.key.split('_')[0].to_s.capitalize %>
	          <% table_array = table.all %>
	          <select>
	            <% table_array.each do |t| %>
	              <option name="meal[<%= key.key %>]" value="<%= t.id %>"><%= t.name %></option>
	            <% end %>
	          </select>
	        <% end %>
	      </div>
			<% end %>
    <% end %>
  <% else %>
    <% MealProfile::KEYS.each do |key| %>
      <div class="field">
        <% if MealProfile::TEXT_TYPE.include?(key) %>
          <label for="meal_<%= key %>" class="span2"><%= key.to_s.humanize.singularize %></label>
          <input type="text" name="meal[<%= key %>]" value="" class="span2">
        <% elsif MealProfile::BOOL_TYPE.include?(key) %>
          <label for="meal_<%= key %>" class="span2"><%= key.to_s.humanize.singularize %></label>
          <input type="radio" name="meal[<%= key %>]" value="true">
          <input type="radio" name="meal[<%= key %>]" value="false">
        <% elsif MealProfile::INTEGER_TYPE.include?(key) %>
          <label for="meal_<%= key %>" class="span2"><%= key.to_s.humanize.singularize %></label>
          <input type="text" name="meal[<%= key %>]" value="" class="span2">
        <% elsif MealProfile::SELECT_TYPE.include?(key) %>
          <% table = key.to_s.split('_')[0].capitalize.constantize %>
          <% table_array = table.all %>
          <label for="meal_<%= key %>" class="span2"><%= key.to_s.humanize.singularize %></label>
          <select>
            <% table_array.each do |t| %>
              <option name="meal[<%= key %>]" value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          </select>
        <% end %>
      </div>
    <% end %>
  <% end %>

	<div class="actions">
	  <%= f.submit "Save Meal", :class => "btn btn-primary" %>
	</div>
<% end %>

<%= link_to 'Show', @meal %> |
<%= link_to 'Back', meals_path %>
