<h1>Listing proposals</h1>

<table class="table table-condensed">
<% @proposals.each do |proposal| %>
	<tr>
		<th>Proposal</th>
	</tr>

  <tr>
	  <td>Order ID</td>
    <td>ID</td>
    <td></td>
    <td></td>
  </tr>

  <tr>
	  <td><%= proposal.order_id %></td>
	  <td><%= proposal.id %></td>
    <td><%= link_to 'Edit', edit_order_proposal_path(proposal.order_id, proposal) %></td>
	  <% if @orders %>
	    <!--<td><a href="#chooseOrderModal" data-toggle="modal" class="awesome" id="<%#= proposal.id %>">Import</a></td>-->
		<% else %>
		  <td><%= link_to "Import", "/orders/#{params[:id]}/clone_proposal/#{proposal.id}" %></td>
		<% end %>
    <td><%= link_to 'Destroy', order_proposal_path(proposal.order_id, proposal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
	<tr>
		<th colspan="3">Line Items</th>
	</tr>
	<tr>
		<td>Item Id</td>
		<td>Quantity</td>
	</tr>
	<% proposal.proposal_lines.each do |line| %>
		<tr>
			<td><%= line.item_id %></td>
			<td><%= line.quantity %></td>
		</tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to "Back to Proposals", proposals_path, class: "btn" %>
<%= link_to "Back to Order", edit_order_path(@order), class: "btn" if @order %>

<% if @orders %>

<div id="chooseOrderModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
	  <table class="table table-condensed">
		  <tr>
		    <th>ID</th>
		    <th>Name</th>
		    <th>Time</th>
		  </tr>
	    <% @orders.each do |order| %>
			  <tr>
			    <td><%= order.id %></td>
			    <td><%= order.name %></td>
					<td><%= order.created_at.strftime("%b %-d, %Y %l:%M%P") %></td>
				  <td><a href="/orders/<%= order.id %>/edit">I choose you!</a></td>
				  <!--<td><%#= link_to "I choose you, Pikachu!", edit_order_path(order.id) %></td>-->
			  </tr>
	    <% end %>
	  </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<% end %>
