<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :name, class: "span2" %>
    <%= f.text_field :name, class: "span2" %>
  </div>

	<div class="row">
		<%= f.label :food_category_id, class: "span2" %>
		<%= f.collection_select :food_category_id, @food_categories, :id, :name %>
	</div>

  <div class="row">
    <%= f.label :headcount, "# of Servings", class: "span2" %>
    <%= f.text_field :headcount, class: "span1" %>
  </div>

  <div class="row">
    <%= f.label :price, class: "span2" %>
    <div class="input-prepend">
      <span class="add-on">$</span>
      <%= f.text_field :price, class: "span1" %>
    </div>
  </div>

  <div class="row">
    <%= f.label :taxed, class: "span2" %>
    Yes! <%= f.radio_button :taxed, :true %>
    Nope! <%= f.radio_button :taxed, :false %>
  </div>

  <div class="row">
    <%= f.label :hot, class: "span2" %>
    Yes! <%= f.radio_button :hot, :true %>
    Nope! <%= f.radio_button :hot, :false %>
  </div>

  <div class="row">
    <%= f.label :vegetarian, class: "span2" %>
    Yes! <%= f.radio_button :vegetarian, :true %>
    Nope! <%= f.radio_button :vegetarian, :false %>
  </div>

  <div class="row">
    <%= f.label :dairy, class: "span2" %>
    Yes! <%= f.radio_button :dairy, :true %>
    Nope! <%= f.radio_button :dairy, :false %>
  </div>

  <div class="row">
    <%= f.label :nuts, class: "span2" %>
    Yes! <%= f.radio_button :nuts, :true %>
    Nope! <%= f.radio_button :nuts, :false %>
  </div>

  <div class="row">
    <%= f.label :eggs, class: "span2" %>
    Yes! <%= f.radio_button :eggs, :true %>
    Nope! <%= f.radio_button :eggs, :false %>
  </div>

  <div class="row">
    <%= f.label :soy, class: "span2" %>
    Yes! <%= f.radio_button :soy, :true %>
    Nope! <%= f.radio_button :soy, :false %>
  </div>

  <div class="row">
    <%= f.label :honey, class: "span2" %>
    Yes! <%= f.radio_button :honey, :true %>
    Nope! <%= f.radio_button :honey, :false %>
  </div>

  <div class="row">
    <%= f.label :shellfish, class: "span2" %>
    Yes! <%= f.radio_button :shellfish, :true %>
    Nope! <%= f.radio_button :shellfish, :false %>
  </div>

  <div class="row">
    <%= f.label :alcohol, class: "span2" %>
    Yes! <%= f.radio_button :alcohol, :true %>
    Nope! <%= f.radio_button :alcohol, :false %>
  </div>

  <div class="row">
    <%= f.label :individual_menus, class: "span2" %>
    Yes! <%= f.radio_button :individual_menus, :true %>
    Nope! <%= f.radio_button :individual_menus, :false %>
  </div>

  <div class="row">
    <%= f.label :old, class: "span2" %>
    Yes! <%= f.radio_button :old, :true %>
    Nope! <%= f.radio_button :old, :false %>
  </div>

  <div class="row">
    <%= f.label :description, class: "span2" %>
    <%= f.text_area :description, rows: 3, class: "span6" %>
  </div>

	<div class="row">
		<%= f.label :calories_per_serving, class: "span2" %>
		<%= f.text_field :calories_per_serving, class: "span2" %>
	</div>

	<div class="row">
		<%= f.label :nutritional_information, class: "span2" %>
		<%= f.text_area :nutritional_information, rows: 3, class: "span6" %>
	</div>

  <div class="row">
    <%= f.label :notes, class: "span2" %>
    <%= f.text_area :notes, rows: 3, class: "span6" %>
  </div>

  <%= f.hidden_field :serving_instructions_id, :value => 2 %>
  <%= f.hidden_field :vendor_id, value: params[:vendor_id] %>

  <div class="actions">
    <%= link_to 'Back', vendor_items_path(@vendor.id), class: 'btn' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
	$("#item_price").maskMoney({thousands:'', decimal:'.'});
	$("input#item_headcount").mask("9?999",{placeholder:""});
</script>
