<div class="row-fluid">

  <div class="span6">
    <h1 xmlns="http://www.w3.org/1999/html">User List</h1>
  </div>

  <div class="span2 offset2">
    <form class="form-search">
        <div class="input-append">
          <input type="text" class="span12 search-query" placeholder="Type a company name, restaurant...">
          <button type="submit" class="btn">Search</button>
        </div>
    </form>
  </div>

</div>
  <div class="btn-group management">
    <%= link_to "Manage Clients", clients_admin_users_path(type: "client"), :remote => true, :class => "btn" %>
    <%= link_to "Manage Vendors", vendors_admin_users_path(type: "vendor"), :remote => true, :class => "btn" %>
    <%= link_to "Manage C2me Users", others_admin_users_path(type: "other"), :remote => true, :class => "btn" %>
    <%= link_to "Add User", new_admin_user_path, class: "btn btn-primary" %>
  </div>


<div id="users">
</div>

<br/>

<%= link_to "Back", root_path, class: "btn" %>