<% if @location.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
    <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <%= f.label :name, class: "span2" %>
  <%= f.text_field :name, class: "span3" %>
</div>

<div class="row">
  <%= f.label :address1, "Street Address", class: "span2" %>
  <%= f.text_field :address1, class: "span3" %>
</div>

<div class="row">
  <%= f.label :address2, "Address 2", class: "span2" %>
  <%= f.text_field :address2, class: "span3" %>
</div>

<div class="row">
  <%= f.label :floor, class: "span2" %>
  <%= f.text_field :floor, class: "span1" %>
</div>

<div class="row">
  <%= f.label :city_id, class: "span2" %>
  <%= f.collection_select :city_id, City.all, :id, :name, class: "span2" %>
</div>

<div class="row">
	<%= f.label :state, class: "span2" %>
	<%= f.select :state, Location.state_abbreviations %>
</div>

<div class="row">
	<%= f.label :zip, class: "span2" %>
	<%= f.text_field :zip, class: "span2" %>
</div>

<div class="row">
	<%= f.label :cross_streets, class: "span2" %>
	<%= f.text_field :cross_streets, class: "span4" %>
</div>

<% if params.include?(:company_id) %>
  <input type="hidden" name="location[company_id]" id="location_company_id" value="<%= params[:company_id] %>" />
<% elsif params.include?(:vendor_id) %>
  <input type="hidden" name="location[vendor_id]" id="location_vendor_id" value="<%= params[:vendor_id] %>" />
<% end %>

<br/>

<div class="actions">
  <%= link_to 'Back', params[:company_id] ? company_locations_path : vendor_locations_path, class: "btn" %>
  <%= f.submit "Submit", :class => "btn btn-primary" %>
</div>


<script type="text/javascript">
	$("#location_zip").mask("99999?-9999",{placeholder:" "});
	$("#location_floor").mask("9?999",{placeholder:" "});
</script>