<h1>Locations</h1>

<table id="locations" class="table" >
  <tr>
    <th>Name</th>
    <th>Street Address</th>
    <th>Address 2</th>
    <th>Floor</th>
    <th>City</th>
    <th><%= params.include?(:company_id) ? "Company" : "Vendor" %></th>
  </tr>
	<% unless @locations.empty? %>

	  <% @locations.each do |location| %>
	    <tr>
		    <td><%= location.name %></td>
		    <td><%= location.address1 %></td>
		    <td><%= location.address2 %></td>
		    <td><%= location.floor %></td>
		    <td><%= location.city.name %></td>
		    <td><%= params.include?(:company_id) ? location.company.name : location.vendor.name %></td>
	      <td><%= link_to 'Edit', params.include?(:company_id) ? edit_company_location_path(@company, location.id) : edit_vendor_location_path(@vendor, location.id) %></td>
	      <td><%= link_to 'Destroy', params.include?(:company_id) ? company_location_path(@company, location.id) : vendor_location_path(@vendor, location.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	  <% end %>

	<% else %>
		<tr>
			<td colspan="6" style="text-align: center;">
			  <%= link_to "Start Making Locations!", params.include?(:company_id) ? new_company_location_path(@company) : new_vendor_location_path(@vendor) %>
			</td>
		</tr>
	<% end %>
</table>


<!--<div id="locations_container"></div>-->

<br />

<%= link_to 'Back', params.include?(:company_id) ? companies_path : vendors_path, class: 'btn' %>
<%= link_to 'New Location', params.include?(:company_id) ? new_company_location_path(@company) : new_vendor_location_path(@vendor), class: 'btn btn-primary' %>

